
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(246,246,242);
}
.all {
    background-color: rgb(246,246,242);
}
h2 {
    color: rgb(111,179,184);
    text-align: center;
}
#title {
    color: rgb(56,128,134);
    text-align: center;
    background-color: rgb(186,223,231);
    padding: 1em;
}
#oldSchoolImage {
    height: 300px;
    width: auto;
}
.wrapper1 {
    display:grid;
    grid-template-columns: 80% 20%;
    grid-gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#coolImage {
    position: relative;
}
#imageSource {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: transparent;
    color:white;
}
#intro {
    text-align: center;
}
.wrapper2 {
    display:grid;
    grid-template-columns: 15% 45% 40%;
    grid-gap: 20px;
}
.sectionHeader {
    text-align: left;
}
.content {
    margin: 35px;
}
.newSchoolImage {
    height: 300px;
    width: auto;
}
#carouselExampleSlidesOnly{
    height: 500px;
    width: 500px;
}